.header-container {
    background-color: #003152;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.logo-section p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu p {
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.menu p:hover {
    text-decoration: underline;
}

.header-container .ant-select {
    width: 150px;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 100%);
    background-color: #003152;
    padding: 4px 10px;
    font-size: 14px;
}

.header-container .ant-select-selector {
    background-color: #ffffff !important;
    border: 1px solid #fff !important;
    color: rgb(0, 0, 0);
    padding: 4px 10px;
}

